.social-footer {
  padding: 1rem;
  background: #90a0d9;
  display: inline-block;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
  display: inline-block;
}

.social-footer .social-footer-icons li {
  display: inline-block;
  margin: 0 10px;
}
.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
  display: inline-block;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}
